<section class="grid-container margin-bottom-7 usa-section usa-prose usa-section--dark">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-8 usa-prose">
      <h2>Write Til It Stops Hurting</h2>
      <p>By Thomas Boyd</p>
      
      <p>There’s a song maybe you never heard, or maybe you remember. It’s “Rooster,” by Alice in Chains. Seattle metal grunge, big noise, slow dragging menace, who the hell was Rooster? “Ain’t found a way to kill me yet, eyes burning with stinging sweat, seems every path leads me to nowhere.”</p>
      <p>Rooster was Alice in Chains lead guitarist and writer Jerry Cantrell’s father, Jerry, Sr., a Vietnam vet and a victim of the war’s brutalizing impact. He came home, got divorced, Jerry wanted to honor him with the song. Cantrell has said, “Part of the healing process is sharing with other people who care.”</p>
      <p>Songs do that. When there is hurt, songs put it out there, let people hear the pain, or the anger, or the confusion. They create a momentary community, gathered around the campfire of feelings and experiences and images. Songwriters know, or soon discover, that there are “other people who care” out there waiting to be drawn in by the song. Tracy Chapman says “everyone wants to be loved. . .and feel like they have a sense of purpose. . .things that make their way into my songwriting.”</p>
      <p>That’s the public-facing part of songwriting. But what about inside? What does writing a song do for the writer, how does it help heal trauma? One size never fits all, and anyone who’s tried to write
      a personal song can tell a unique story, but the way it works is something like this:</p>
      <p>Talking about painful experiences is hard, but talking about it is one of the ways to begin to get better. It takes courage. Tori Amos says “we all have courage, even if we have to dig a little to find it.” Writing about it is taking the shovel in your hands, poking around in the dirt, getting deeper into your own lived experience until you realize you’re not afraid to see what turns up.</p>
      <p>Then, as a writer, you can begin to make sense of what turns up. You can make a story out of a series of events or encounters or reactions. It sometimes helps to organize yourself, it even gives you a feeling of having some control over it. Fake it til you make it, they used to say.</p>
      
      <p>They were right. Eddie Vedder wrote “Better Man” and said he "dedicated it to the bastard that married my Momma,” maybe making sense of abusive relationships.</p>
      <p>Recently, we’ve begun to acknowledge trauma as a pervasive and corrosive force that holds people down. And in the last few months, we have experienced new shockwaves of disruption and dislocation from firings, cuts, deportations, cancellations, threats, all of it a magnifying glass to focus the hot light on real people, one at a time, until they burn.</p>
      <p>Writing songs about it won’t turn off the heat. But it will create some balm for the writers, and it will help build a community. Digging down like Tori Amos says to do, she found this (from “Crucify”): "Every finger in the room is pointing at me I want to spit in their faces then I get afraid what that could bring I got a bowling ball in my stomach, I got a desert in my mouth."</p>
      <p>Gather round the campfire.</p>
    </div>
    <div class="tablet:grid-col-4">
      <p class=font-serif-md line-height-serif-4 margin-top-0 measure-1 border-bottom-05 border-secondary-light padding-bottom-05 margin-bottom-2>“When there is hurt, songs put it out there, let people hear the pain, or the anger, or the confusion.”</p>
    </div>
  </div>
</section>